<div class="sidebar-widget">
    <h3 class="sidebar-title br-bottom">Hospital Type</h3>
    @Html.ActionLink("Public","Index",new { isPublic = true})
    @Html.ActionLink("Private", "Index", new { isPublic = false })
    <!--button class="btn btn-success active" role="button" aria-pressed="true" type="button">Public</!--button>
    <button class="btn btn-danger active" role="button" aria-pressed="true" type="button">Private</button-->
</div>