@model HangOut.Models.HotelViewModel

<div class="form-group">
    @Html.LabelFor(model => model.DailyRent, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.DailyRent, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.DailyRent, "", new { @class = "text-danger" })
    </div>
</div>
