
@{
    ViewBag.Title = "Historicals";
}

<div class="row blog-list">
    <div class="col-sm-12">
        <div class="row blog-item">
            <div class="col-sm-12 blog-image col-p0">
                <img src="~/Content/images/badshahi.jpg" alt="blog image" />
            </div>
            <div class="col-sm-12 blog-caption">
                <h3 class="post-title">Badshahi Mosque</h3>
                <p>
                    Badshahi mosque is located in lahore.The mosque is an important example of Mughal architecture, with an exterior that is decorated with carved red
                    sandstone with marble inlay. The mosque was been used by Sikh Empire and the British Empire as a garrison.
                    The mosque was is widely considered to be one of Lahore's most iconic landmarks, and is a major tourist
                    attraction.
                </p>
                <div class="clearfix">
                    <div class="pull-left"></div>
                    <div class="pull-right"><i class="fa fa-camera post-format"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="row blog-item">
            <div class="col-sm-12 blog-image col-p0">
                <img src="~/Content/images/shahiqila.png" alt="blog image" />
            </div>
            <div class="col-sm-12 blog-caption">
                <h3 class="post-title">Shahi Qila</h3>
                <div class="sub-post-title">
                </div>
                <p>
                    The Lahore Fort, locally referred to as the Shahi qila, is a citadel in the city of Lahore,
                    Punjab, Pakistan. It is located in the northwestern corner of the Walled City of Lahore in Iqbal Park, which
                    is one of the largest urban parks in Pakistan
                </p>
                <div class="clearfix">
                    <div class="pull-left"></div>
                    <div class="pull-right"><i class="fa fa-camera post-format"></i></div>
                </div>
            </div>
        </div>
    </div>


</div>

