@{
    ViewBag.Title = "Hangout In Lahore";
}
<div id="portfolio-isotope">
    <div class="row col-p5">
        <div class="portfolio  columns-3" style="position: relative; height: 766.624px;">
            <div class="col-sm-6 col-md-4 el" style="position: absolute; left: 0px; top: 0px;">
                <div class="portfolio-el view">
                    <img src="~/Content/HomeGallery/11.jpg" alt="project">
                    <a href="" class="mask">
                        <div class="portfolio-middle">
                            <h3 class="project-title br-bottom mb10">Transportation</h3>
                            <p class="text">Get Taxi</p>
                        </div>
                        <p class="date">See More</p>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 el" style="position: absolute; left: 282px; top: 0px;">
                <div class="portfolio-el view">
                    <img src="~/Content/HomeGallery/12.jpg" alt="project">
                    <a href="" class="mask">
                        <div class="portfolio-middle">
                            <h3 class="project-title br-bottom mb10">Night At Lahore</h3>
                            <p class="text">Entertainment</p>
                        </div>
                        <p class="date">See More</p>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 el" style="position: absolute; left: 564px; top: 0px;">
                <div class="portfolio-el view">
                    <img src="~/Content/HomeGallery/13.jpg" alt="project">
                    <a href="" class="mask">
                        <div class="portfolio-middle">
                            <h3 class="project-title br-bottom mb10">Food</h3>
                            <p class="text">Refreshment</p>
                        </div>
                        <p class="date">See More</p>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 el" style="position: absolute; left: 0px; top: 191px;">
                <div class="portfolio-el view">
                    <img src="~/Content/HomeGallery/14.jpg" alt="project">
                    <a href="" class="mask">
                        <div class="portfolio-middle">
                            <h3 class="project-title br-bottom mb10">Parks</h3>
                            <p class="text">Places</p>
                        </div>
                        <p class="date">See More</p>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 el" style="position: absolute; left: 282px; top: 191px;">
                <div class="portfolio-el view">
                    <img src="~/Content/HomeGallery/15.png" alt="project">
                    <a href="" class="mask">
                        <div class="portfolio-middle">
                            <h3 class="project-title br-bottom mb10">Universities</h3>
                            <p class="text">Education</p>
                        </div>
                        <p class="date">See more</p>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 el" style="position: absolute; left: 564px; top: 191px;">
                <div class="portfolio-el view">
                    <img src="~/Content/HomeGallery/16.jpg" alt="project">
                    <a href="" class="mask">
                        <div class="portfolio-middle">
                            <h3 class="project-title br-bottom mb10">Hospitals</h3>
                            <p class="text">Health</p>
                        </div>
                        <p class="date">See more</p>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 el" style="position: absolute; left: 0px; top: 383px;">
                <div class="portfolio-el view">
                    <img src="~/Content/HomeGallery/17.jpg" alt="project">
                    <a href="" class="mask">
                        <div class="portfolio-middle">
                            <h3 class="project-title br-bottom mb10">Shopping</h3>
                            <p class="text">Shopping</p>
                        </div>
                        <p class="date">See More</p>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 el" style="position: absolute; left: 282px; top: 383px;">
                <div class="portfolio-el view">
                    <img src="~/Content/HomeGallery/18.jpg" alt="project">
                    <a href="" class="mask">
                        <div class="portfolio-middle">
                            <h3 class="project-title br-bottom mb10">Historical Places</h3>
                            <p class="text">Places</p>
                        </div>
                        <p class="date">See More</p>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 el" style="position: absolute; left: 564px; top: 383px;">
                <div class="portfolio-el view">
                    <img src="~/Content/HomeGallery/19.jpg" alt="project">
                    <a href="" class="mask">
                        <div class="portfolio-middle">
                            <h3 class="project-title br-bottom mb10">Traditions</h3>
                            <p class="text">Others</p>
                        </div>
                        <p class="date">See More</p>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 el" style="position: absolute; left: 0px; top: 574px;">
                <div class="portfolio-el view">
                    <img src="~/Content/HomeGallery/20.jpg" alt="project">
                    <a href="" class="mask">
                        <div class="portfolio-middle">
                            <h3 class="project-title br-bottom mb10">Houses</h3>
                            <p class="text">Real Estate</p>
                        </div>
                        <p class="date">See more</p>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 el" style="position: absolute; left: 282px; top: 574px;">
                <div class="portfolio-el view">
                    <img src="~/Content/HomeGallery/21.jpg" alt="project">
                    <a href="" class="mask">
                        <div class="portfolio-middle">
                            <h3 class="project-title br-bottom mb10">Transportation</h3>
                            <p class="text">PIA</p>
                        </div>
                        <p class="date">See MORE</p>
                    </a>
                </div>
            </div>
            <div class="col-sm-6 col-md-4 el" style="position: absolute; left: 564px; top: 574px;">
                <div class="portfolio-el view">
                    <img src="~/Content/HomeGallery/22.jpg" alt="project">
                    <a href="" class="mask">
                        <div class="portfolio-middle">
                            <h3 class="project-title br-bottom mb10">Eid</h3>
                            <p class="text">Festival</p>
                        </div>
                        <p class="date">See More</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>