
@{
    ViewBag.Title = "Nightatlahore";
}

<div class="row blog-list">
    <div class="col-sm-12">
        <div class="row blog-item">
            <div class="col-sm-12 blog-image col-p0">
                <img src="~/Content/images/Theater.jpg" alt="blog image" />
            </div>
            <div class="col-sm-12 blog-caption">
                <h3 class="post-title">Theater In Lahore</h3>
                <p>
                    Stage drama is the hottest entertainment for the last few years in Lahore,
                    and therefore cinemas one after another are being converted into theaters. Drama is more of a mixture of
                    comedy and about four or five dances by famous celebrities; in fact introduction of dances triggered boost in
                    Lahore theater scene, otherwise it was just confined to Alhamra Art Center and open air theater in Lawrence Garden Lahore.
                </p>
                <div class="clearfix">
                    <div class="pull-left"></div>
                    <div class="pull-right"><i class="fa fa-camera post-format"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="row blog-item">
            <div class="col-sm-12 blog-image col-p0">
                <img src="~/Content/images/fashion.jpg" alt="blog image" />
            </div>
            <div class="col-sm-12 blog-caption">
                <h3 class="post-title">Fashion Shows</h3>
                <div class="sub-post-title">
                </div>
                <p>
                    Fashion industry in Lahore in known to be very rich and immense due to creativity. Lahore is famous for events in halls and fashion events and if
                    you ever visit Lahore do not miss a chance to go to a live fashion show.
                </p>
                <div class="clearfix">
                    <div class="pull-left"></div>
                    <div class="pull-right"><i class="fa fa-camera post-format"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="row blog-item">
            <div class="col-sm-12 blog-image col-p0">
                <img src="~/Content/images/concert.jpg" alt="blog image" />
            </div>
            <div class="col-sm-12 blog-caption">
                <h3 class="post-title">Concerts In lahore</h3>
                <div class="sub-post-title">
                </div>
                <p>Lahore is Famous for concerts and musical shows. Its great to be in lahore and listen to live concerts and musical shows of rock, pop and folk type.</p>
                <div class="clearfix">
                    <div class="pull-left"></div>
                    <div class="pull-right"><i class="fa fa-camera post-format"></i></div>
                </div>
            </div>
        </div>
    </div>

</div>

