
@{
    ViewBag.Title = "Traditions";
}

<div class="row blog-list">
    <div class="col-sm-12">
        <div class="row blog-item">
            <div class="col-sm-12 blog-image col-p0">
                <img src="~/Content/images/ceremonies.jpg" alt="blog image" />
            </div>
            <div class="col-sm-12 blog-caption">
                <h3 class="post-title">Weddings</h3>
                <p>
                    Lahore is known to be acity of festivals and ceremonies.
                    People of lahor celebrate wedding in full excitement wnd much zeal
                    mehndi,barat,walim are the basic ceremony activities done by lahore people
                </p>
                <div class="clearfix">
                    <div class="pull-left"></div>
                    <div class="pull-right"><i class="fa fa-camera post-format"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="row blog-item">
            <div class="col-sm-12 blog-image col-p0">
                <img src="~/Content/images/Basant.jpg" alt="blog image" />
            </div>
            <div class="col-sm-12 blog-caption">
                <h3 class="post-title">Basant</h3>
                <div class="sub-post-title">
                </div>
                <p>Poeple of lahore celebrate kite flying festival in the beginning of spring season.</p>
                <div class="clearfix">
                    <div class="pull-left"></div>
                    <div class="pull-right"><i class="fa fa-camera post-format"></i></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="row blog-item">
            <div class="col-sm-12 blog-image col-p0">
                <img src="~/Content/images/eid.jpg" alt="blog image" />
            </div>
            <div class="col-sm-12 blog-caption">
                <h3 class="post-title">Eid</h3>
                <div class="sub-post-title">
                </div>
                <p>Poeple of lahore celebrate Eid Twice, One Eid-ul-fitar and second Eid-ul-Adha.</p>
                <div class="clearfix">
                    <div class="pull-left"></div>
                    <div class="pull-right"><i class="fa fa-camera post-format"></i></div>
                </div>
            </div>
        </div>
    </div>


</div>


